@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #262425;
    
}
html, body{
    width: 100vw;
    height: 100vw;
}
/*navbar inicio*/
.logo a{
    color: #ffffff;
}
.logo{
    padding: 0 80px;
    margin: auto;
}

.menu{
    display: flex;
    /*background-color: #6D67FE;*/
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    padding: 30px 0;
    width: 100vw;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
ul li{
    color: #fff;
    padding: 15px;
    margin-right: 10px;
}
/*home inicio*/
.home{
    display: flex;
    background: url(img/img2.png) no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Press Start 2P', cursive;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
font-size: 20px;
}
.home .home-content .text-2{
    font-size: 25px;
    font-weight:700;
    margin-left: -3px;
}
.home .home-content .text-3{
font-size: 20px;
margin: 5px 0;
}
.home .home-content .text-3 span{
    color: #6D67FE;
    font-weight: 700;
}




footer{
    width: 100%;
    text-align: center;
    background-color: #8a2be2;
}