@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto 0px;
}

/*navbar inicio*/
.navbar{
    position: fixed;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    padding: 30px 0;
    width: 100%;
}
.navbar.sticky{
    background-color: #6D67FE;
    padding: 30px 0;
}
.navbar .max-width{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #262425;
    font-weight: 500;
}
.navbar .logo a span{
    color: #262425;
}
.navbar.sticky .logo a span{
    color: #262425;
    transition: color 0.3s ease;
}

.navbar .menu li{
    display: inline;
    list-style: none;
    margin: 0 10px;
}
.navbar .menu li {
    color: #000;
    transition: color 0.3s ease;
}
.navbar .menu li:hover{
    color: #262425;
}

/*home inicio*/
.home{
    display: flex;
    background: url(img/img111.png) no-repeat center;
    height: 100vh;
    min-height: 500px;
    font-family: 'Press Start 2P', cursive;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 1.1em;
}

.home .home-content .text-2{
    font-size: 1.6em;
    font-weight:700;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 1.5em;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: #6D67FE;
    font-weight: 700;
}

.home .home-content a{
    display: inline-block;
    background: #6D67FE;
    color: #fff;
    font-size: 1em;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 7px;
    border: 2px solid #6D67FE;
    transition: color 0.3s;
}

.home .home-content a:hover{
    color: #6D67FE;
    background:none;
}

/*Menu Mobile*/
.menu-btn{
    color: #000;
    font-size: 25px;
    cursor: pointer;
    display: none;
}


/*Responsivo*/
@media (max-width: 1104px){
    .navbar .max-width{
        margin-left: 0;
    }
    
}

@media (max-width: 991px){
    .navbar .max-width{
        padding: 0 50px;
       
    }
    
}

@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999; 
    }
    
    .max-width{
        padding: 0 50px;
    }
    
    .navbar .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        left: -100%;
        top: 0;
        background: #111;
        padding-top: 80px;
        text-align: center;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .navbar .logo a{
        display: block;
        color: #fff;
    }
    .home .home-content .text-2{
        font-size: 1.6em;
    }
    .home .home-content .text-3{
    font-size: 1.5em;
    }
}

@media (max-width: 690px){
    
    .home .home-content .text-2{
        font-size: 1.5em;
        
    }
    .home .home-content .text-3{
    font-size: 1.4em;
    }
}

@media (max-width: 500px){
    .menu-btn{
        display: block;
        z-index: 999; 
    }
    .menu-btn{
        color: #000;
        font-size: 25px;
        cursor: pointer;
        display: block;
        button:onclick="displayDate()
    }
    
    
    .home .home-content .text-2{
        font-size: 1.4em;
    }
    .home .home-content .text-3{
    font-size: 1.3em;
    }
    .menu-btn{
        padding: 10px;
    }
}



footer{
    width: 100%;
    text-align: center;
    background-color: #8a2be2;
}
/* Botão Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">BAND</a>
  <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TOUR</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">MERCH</a>
</div>*/